@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import "tailwindcss";




body {
  @apply bg-black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.font-sf {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}




.font-lrg {
  @apply text-2xl sm:text-3xl lg:text-5xl font-normal leading-[1.1] bg-gradient-to-l from-[#D4FFEC] via-[#57F2CC] to-[#4596FB] bg-clip-text text-transparent;
}

.font-mdm {
  @apply text-sm sm:text-lg leading-[1.5] font-medium text-[#FFFFFF];
}

.font-sml {
  @apply text-xs sm:text-lg font-normal leading-[1.1] text-[#ABA7A7];
}



.bg-hero {
  @apply bg-[url('/images/herosection-background.png')];
}








 @keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 

.animated-text-gradient {
  background-size: 200% 200%;
  animation: gradientText 5s ease infinite;
}





@keyframes floatUpDown {
  0% {
    transform: translateY(-30px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0.8;
  }
}

.animate-float {
  animation: floatUpDown 3s ease-in-out infinite;
}









.btn-primary {
  @apply relative inline-block py-2 px-4 rounded-md font-medium text-[#FFFFFF] text-xs sm:text-sm overflow-hidden bg-transparent;
}

.btn-primary::before {
  content: "";
  @apply absolute inset-0 rounded-md pointer-events-none;
  border: 2px solid transparent;
  border-image-source: linear-gradient(244.91deg, #D4FFEC 15.94%, #57F2CC 48.55%, #4596FB 84.06%);
  border-image-slice: 1;
}

.btn-primary:hover {
  @apply scale-105 transition-all duration-300 ease-in-out;
}








.hover-gradient-border {
  @apply relative rounded-md border border-[#232323] transition;
}

.hover-gradient-border::before {
  content: '';
  @apply absolute inset-0 rounded-md pointer-events-none opacity-0 transition duration-300;
  border: 2px solid transparent;
  border-image-source: linear-gradient(244.91deg, #D4FFEC 15.94%, #57F2CC 48.55%, #4596FB 84.06%);
  border-image-slice: 1;
}

.hover-gradient-border:hover::before {
  @apply opacity-100;
}